<template name="MapLayoutUsers">

	<section class="klenly__container animated fadeIn" id="klenlyContainer">

		<section class="klenly__header klenly__header--map" id="klenlyHeader">
			{{> Template.dynamic template=top}}
		</section>

		<section class="klenly__content--map animated fadeIn" id="klenlyContentMap">
			{{> Template.dynamic template=main}}
		</section>

		<!-- <div class="klenly__pusher" id="klenlyPusher"></div> -->

	</section>

	<section class="klenly__footer" id="klenlyFooter">
			{{> Template.dynamic template=bottom}}
	</section>

</template>