<template name="addServices">
  <!--   <input type="text" value="{{currVal}}" kl-prop-value {{this.atts}} style="display:none" /> -->

    <!-- the input is required as a carrier for the value. -->

<!--  NOTE:

    This template will be wrapped by autoform in a div.form-group, which
    will become div.form-group.has-error when the field is invalid.
    Therefore, to add visual feedback during invalidation within this
    template, you could add some css like the following:

        /* only highlight the buttons in a red border when the <li> in
         * property-selector is invalid */

        div.form-group.has-error li[kl-property] {
            border : red solid thin;
        }
-->
</template>
